openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Session API
  description: The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll).
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Session
  description: Pocket session module — sessions group applications, suppliers, and services for a given block window
paths:
  /pocket/session/v1/get_session:
    get:
      summary: Get Shannon Session
      description: Return the active session for a given application/service pair at a given block height. Sessions group applications and suppliers for the duration of a session window.
      operationId: getShannonSession
      tags:
      - Session
      parameters:
      - name: application_address
        in: query
        required: true
        schema:
          type: string
      - name: service_id
        in: query
        required: true
        schema:
          type: string
      - name: block_height
        in: query
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Session record.
          content:
            application/json:
              schema:
                type: object
