openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Proof API
  description: 'The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll). Every full node exposes the standard Cosmos REST and CometBFT RPC surfaces. Public endpoints are operated by Grove and Pocket Network Foundation. This profile documents the read-only endpoints most often consumed by integrators — block, transaction, validator, supply, and on-chain module queries (application, supplier, gateway, service, session, proof, tokenomics). Write operations are signed transactions broadcast via the same REST surface or the poktrolld CLI; they share the `/cosmos/tx/v1beta1/txs` endpoint.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Proof
  description: Pocket proof module — claims and proofs that suppliers submit to earn POKT
paths:
  /pocket/proof/v1/params:
    get:
      summary: Get Shannon Proof Parameters
      description: 'Return the parameters of the on-chain Proof module (claim and proof windows, minimum relay difficulty, target submission probability).

        '
      operationId: getShannonProofParameters
      tags:
      - Proof
      responses:
        '200':
          description: Proof parameters.
          content:
            application/json:
              schema:
                type: object
