openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Blocks API
  description: The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll).
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Blocks
  description: Block and consensus state queries
paths:
  /cosmos/base/tendermint/v1beta1/blocks/latest:
    get:
      summary: Get Latest Shannon Block
      description: Return the most recently committed CometBFT block.
      operationId: getLatestShannonBlock
      tags:
      - Blocks
      responses:
        '200':
          description: Block envelope.
          content:
            application/json:
              schema:
                type: object
  /cosmos/base/tendermint/v1beta1/blocks/{height}:
    get:
      summary: Get Shannon Block By Height
      description: Return the Shannon block at a specific height.
      operationId: getShannonBlockByHeight
      tags:
      - Blocks
      parameters:
      - name: height
        in: path
        required: true
        description: Block height.
        schema:
          type: integer
      responses:
        '200':
          description: Block envelope.
          content:
            application/json:
              schema:
                type: object
