openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Service API
  description: 'The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll). Every full node exposes the standard Cosmos REST and CometBFT RPC surfaces. Public endpoints are operated by Grove and Pocket Network Foundation. This profile documents the read-only endpoints most often consumed by integrators — block, transaction, validator, supply, and on-chain module queries (application, supplier, gateway, service, session, proof, tokenomics). Write operations are signed transactions broadcast via the same REST surface or the poktrolld CLI; they share the `/cosmos/tx/v1beta1/txs` endpoint.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Service
  description: Pocket service module — services represent the data sources (EVM chains, Solana, etc.) the network serves
paths:
  /pocket/service/v1/service:
    get:
      summary: List Shannon Services
      description: 'List every service registered on Shannon. A service represents an external data source (e.g. eth, solana, base, arbitrum) the network can serve relays for. Each service has compute-unit pricing.

        '
      operationId: listShannonServices
      tags:
      - Service
      responses:
        '200':
          description: Service list.
          content:
            application/json:
              schema:
                type: object
  /pocket/service/v1/service/{serviceId}:
    get:
      summary: Get Shannon Service
      description: Return a single service definition.
      operationId: getShannonService
      tags:
      - Service
      parameters:
      - name: serviceId
        in: path
        required: true
        description: Service identifier (e.g. "eth", "solana", "base").
        schema:
          type: string
      responses:
        '200':
          description: Service record.
          content:
            application/json:
              schema:
                type: object
