openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Application API
  description: 'The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll). Every full node exposes the standard Cosmos REST and CometBFT RPC surfaces. Public endpoints are operated by Grove and Pocket Network Foundation. This profile documents the read-only endpoints most often consumed by integrators — block, transaction, validator, supply, and on-chain module queries (application, supplier, gateway, service, session, proof, tokenomics). Write operations are signed transactions broadcast via the same REST surface or the poktrolld CLI; they share the `/cosmos/tx/v1beta1/txs` endpoint.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Application
  description: Pocket application module — applications stake POKT to consume relays
paths:
  /pocket/application/v1/application:
    get:
      summary: List Shannon Applications
      description: 'List every Application module entry. Applications stake POKT to consume relays via gateways for one or more services.

        '
      operationId: listShannonApplications
      tags:
      - Application
      responses:
        '200':
          description: Application list.
          content:
            application/json:
              schema:
                type: object
  /pocket/application/v1/application/{address}:
    get:
      summary: Get Shannon Application
      description: Return a single Application by Shannon address.
      operationId: getShannonApplication
      tags:
      - Application
      parameters:
      - name: address
        in: path
        required: true
        description: Bech32 Shannon address (pokt1...).
        schema:
          type: string
      responses:
        '200':
          description: Application record.
          content:
            application/json:
              schema:
                type: object
