openapi: 3.1.0
info:
  title: Pocket Network CometBFT RPC Application API
  description: 'Shannon full nodes expose the standard CometBFT (Tendermint) RPC on port 26657. It is a JSON-RPC 2.0 surface covering consensus, mempool, and network-level queries — node status, network info, peer set, block by height, block results, and unconfirmed transactions. Grove operates a public Shannon mainnet RPC at `shannon-grove-rpc.mainnet.poktroll.com`. Most operations are exposed both as JSON-RPC methods and as HTTP GET shortcuts at the same root URL.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-rpc.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet CometBFT RPC
- url: https://shannon-testnet-grove-rpc.beta.poktroll.com
  description: Grove-operated Shannon beta testnet CometBFT RPC
tags:
- name: Application
  description: Pocket application module — applications stake POKT to consume relays
paths:
  /pocket/application/v1/application:
    get:
      summary: List Shannon Applications
      description: 'List every Application module entry. Applications stake POKT to consume relays via gateways for one or more services.

        '
      operationId: listShannonApplications
      tags:
      - Application
      responses:
        '200':
          description: Application list.
          content:
            application/json:
              schema:
                type: object
  /pocket/application/v1/application/{address}:
    get:
      summary: Get Shannon Application
      description: Return a single Application by Shannon address.
      operationId: getShannonApplication
      tags:
      - Application
      parameters:
      - name: address
        in: path
        required: true
        description: Bech32 Shannon address (pokt1...).
        schema:
          type: string
      responses:
        '200':
          description: Application record.
          content:
            application/json:
              schema:
                type: object
