openapi: 3.1.0
info:
  title: Pocket Network CometBFT RPC Application Mempool API
  description: 'Shannon full nodes expose the standard CometBFT (Tendermint) RPC on port 26657. It is a JSON-RPC 2.0 surface covering consensus, mempool, and network-level queries — node status, network info, peer set, block by height, block results, and unconfirmed transactions. Grove operates a public Shannon mainnet RPC at `shannon-grove-rpc.mainnet.poktroll.com`. Most operations are exposed both as JSON-RPC methods and as HTTP GET shortcuts at the same root URL.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-rpc.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet CometBFT RPC
- url: https://shannon-testnet-grove-rpc.beta.poktroll.com
  description: Grove-operated Shannon beta testnet CometBFT RPC
tags:
- name: Mempool
  description: Mempool inspection and broadcast
paths:
  /unconfirmed_txs:
    get:
      summary: Get Cometbft Unconfirmed Transactions
      description: Return the current set of unconfirmed transactions in the mempool.
      operationId: getCometbftUnconfirmedTransactions
      tags:
      - Mempool
      responses:
        '200':
          description: Unconfirmed transactions envelope.
          content:
            application/json:
              schema:
                type: object
  /broadcast_tx_sync:
    get:
      summary: Broadcast Cometbft Transaction Synchronously
      description: 'Broadcast a transaction and return once CheckTx has run (does not wait for inclusion in a block).

        '
      operationId: broadcastCometbftTxSync
      tags:
      - Mempool
      parameters:
      - name: tx
        in: query
        required: true
        description: Hex- or base64-encoded transaction bytes.
        schema:
          type: string
      responses:
        '200':
          description: Broadcast result.
          content:
            application/json:
              schema:
                type: object
