openapi: 3.2.0
info:
  title: Pocket Network PATH Gateway Health API
  description: 'PATH (Path API and Toolkit Harness) is the open-source Go gateway maintained by Grove (github.com/buildwithgrove/path mirrored at github.com/pokt-network/path) that exposes Pocket Network Shannon as a single HTTP surface. PATH proxies JSON-RPC, REST, and WebSocket calls for every service (blockchain) staked on Shannon, selects suppliers via Quality-of-Service scoring, signs relay requests with the operator''s Gateway and Application keys, and returns upstream responses verbatim. The same protocol drives Grove''s hosted endpoints on rpc.grove.city — each chain is exposed as a subdomain such as `eth.rpc.grove.city/v1/{appId}` or `solana.rpc.grove.city/v1/{appId}`. The payload for every operation is the JSON-RPC envelope of the target chain (e.g. Ethereum eth_*, Solana getBalance) so PATH itself is service-agnostic.

    '
  version: 0.1.0
  contact:
    name: Grove Support
    url: https://grove.city
  license:
    name: MIT
    url: https://github.com/buildwithgrove/path/blob/main/LICENSE
servers:
- url: https://rpc.grove.city
  description: Grove hosted PATH gateway (authenticated, paid)
- url: https://eth.rpc.grove.city
  description: Grove public Ethereum endpoint (no key required)
- url: https://solana.rpc.grove.city
  description: Grove public Solana endpoint (no key required)
security:
- PortalApplicationId: []
- {}
tags:
- name: Health
  description: PATH service liveness and readiness probes
paths:
  /healthz:
    get:
      summary: Get Path Liveness
      description: 'Liveness probe exposed by self-hosted PATH instances on port 3069. Returns 200 when the service is running.

        '
      operationId: getPathLiveness
      tags:
      - Health
      responses:
        '200':
          description: PATH process is alive.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /readyz:
    get:
      summary: Get Path Readiness
      description: 'Readiness probe. Returns 200 when PATH has loaded its session, supplier, and QoS data and is ready to serve relays.

        '
      operationId: getPathReadiness
      tags:
      - Health
      responses:
        '200':
          description: PATH is ready to serve relays.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: PATH is not yet ready.
components:
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - ok
          - degraded
          - unhealthy
        version:
          type: string
  securitySchemes:
    PortalApplicationId:
      type: apiKey
      in: path
      name: appId
      description: Grove portal Application ID embedded in the relay URL.
