openapi: 3.1.0
info:
  title: Pocket Network CometBFT RPC Application Status API
  description: 'Shannon full nodes expose the standard CometBFT (Tendermint) RPC on port 26657. It is a JSON-RPC 2.0 surface covering consensus, mempool, and network-level queries — node status, network info, peer set, block by height, block results, and unconfirmed transactions. Grove operates a public Shannon mainnet RPC at `shannon-grove-rpc.mainnet.poktroll.com`. Most operations are exposed both as JSON-RPC methods and as HTTP GET shortcuts at the same root URL.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-rpc.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet CometBFT RPC
- url: https://shannon-testnet-grove-rpc.beta.poktroll.com
  description: Grove-operated Shannon beta testnet CometBFT RPC
tags:
- name: Status
  description: Node status and network info
paths:
  /status:
    get:
      summary: Get Cometbft Node Status
      description: Return node info, sync status, validator info, and latest block height.
      operationId: getCometbftStatus
      tags:
      - Status
      responses:
        '200':
          description: Node status envelope.
          content:
            application/json:
              schema:
                type: object
  /net_info:
    get:
      summary: Get Cometbft Network Info
      description: Return network info including listening status, peer count, and peer list.
      operationId: getCometbftNetInfo
      tags:
      - Status
      responses:
        '200':
          description: Network info envelope.
          content:
            application/json:
              schema:
                type: object
