openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Supplier API
  description: 'The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll). Every full node exposes the standard Cosmos REST and CometBFT RPC surfaces. Public endpoints are operated by Grove and Pocket Network Foundation. This profile documents the read-only endpoints most often consumed by integrators — block, transaction, validator, supply, and on-chain module queries (application, supplier, gateway, service, session, proof, tokenomics). Write operations are signed transactions broadcast via the same REST surface or the poktrolld CLI; they share the `/cosmos/tx/v1beta1/txs` endpoint.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Supplier
  description: Pocket supplier module — suppliers stake POKT and serve relays via RelayMiner
paths:
  /pocket/supplier/v1/supplier:
    get:
      summary: List Shannon Suppliers
      description: 'List every Supplier module entry. Suppliers stake POKT and run a RelayMiner to serve relays for the services they support.

        '
      operationId: listShannonSuppliers
      tags:
      - Supplier
      responses:
        '200':
          description: Supplier list.
          content:
            application/json:
              schema:
                type: object
  /pocket/supplier/v1/supplier/{address}:
    get:
      summary: Get Shannon Supplier
      description: Return a single Supplier by Shannon operator address.
      operationId: getShannonSupplier
      tags:
      - Supplier
      parameters:
      - name: address
        in: path
        required: true
        description: Bech32 Shannon operator address.
        schema:
          type: string
      responses:
        '200':
          description: Supplier record.
          content:
            application/json:
              schema:
                type: object
