openapi: 3.1.0
info:
  title: Pocket Network CometBFT RPC Application Blocks API
  description: 'Shannon full nodes expose the standard CometBFT (Tendermint) RPC on port 26657. It is a JSON-RPC 2.0 surface covering consensus, mempool, and network-level queries — node status, network info, peer set, block by height, block results, and unconfirmed transactions. Grove operates a public Shannon mainnet RPC at `shannon-grove-rpc.mainnet.poktroll.com`. Most operations are exposed both as JSON-RPC methods and as HTTP GET shortcuts at the same root URL.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-rpc.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet CometBFT RPC
- url: https://shannon-testnet-grove-rpc.beta.poktroll.com
  description: Grove-operated Shannon beta testnet CometBFT RPC
tags:
- name: Blocks
  description: Block and consensus state queries
paths:
  /cosmos/base/tendermint/v1beta1/blocks/latest:
    get:
      summary: Get Latest Shannon Block
      description: Return the most recently committed CometBFT block.
      operationId: getLatestShannonBlock
      tags:
      - Blocks
      responses:
        '200':
          description: Block envelope.
          content:
            application/json:
              schema:
                type: object
  /cosmos/base/tendermint/v1beta1/blocks/{height}:
    get:
      summary: Get Shannon Block By Height
      description: Return the Shannon block at a specific height.
      operationId: getShannonBlockByHeight
      tags:
      - Blocks
      parameters:
      - name: height
        in: path
        required: true
        description: Block height.
        schema:
          type: integer
      responses:
        '200':
          description: Block envelope.
          content:
            application/json:
              schema:
                type: object
