openapi: 3.1.0
info:
  title: Pocket Network CometBFT RPC Application Tokenomics API
  description: 'Shannon full nodes expose the standard CometBFT (Tendermint) RPC on port 26657. It is a JSON-RPC 2.0 surface covering consensus, mempool, and network-level queries — node status, network info, peer set, block by height, block results, and unconfirmed transactions. Grove operates a public Shannon mainnet RPC at `shannon-grove-rpc.mainnet.poktroll.com`. Most operations are exposed both as JSON-RPC methods and as HTTP GET shortcuts at the same root URL.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-rpc.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet CometBFT RPC
- url: https://shannon-testnet-grove-rpc.beta.poktroll.com
  description: Grove-operated Shannon beta testnet CometBFT RPC
tags:
- name: Tokenomics
  description: Pocket tokenomics module — global mint, burn, and reward parameters
paths:
  /pocket/tokenomics/v1/params:
    get:
      summary: Get Shannon Tokenomics Parameters
      description: 'Return the Shannon tokenomics parameters — mint ratio, allocations to DAO/proposer/source-owner/supplier, and global inflation/deflation settings (post-PIP-41 deflationary 97.5% mint ratio).

        '
      operationId: getShannonTokenomicsParameters
      tags:
      - Tokenomics
      responses:
        '200':
          description: Tokenomics parameters.
          content:
            application/json:
              schema:
                type: object
