openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Bank API
  description: 'The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll). Every full node exposes the standard Cosmos REST and CometBFT RPC surfaces. Public endpoints are operated by Grove and Pocket Network Foundation. This profile documents the read-only endpoints most often consumed by integrators — block, transaction, validator, supply, and on-chain module queries (application, supplier, gateway, service, session, proof, tokenomics). Write operations are signed transactions broadcast via the same REST surface or the poktrolld CLI; they share the `/cosmos/tx/v1beta1/txs` endpoint.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Bank
  description: POKT supply, balances, and burn tracking
paths:
  /cosmos/bank/v1beta1/balances/{address}:
    get:
      summary: Get Shannon Address Balances
      description: Return all coin balances for a Shannon address (upokt and IBC tokens).
      operationId: getShannonBalances
      tags:
      - Bank
      parameters:
      - name: address
        in: path
        required: true
        description: Bech32 Shannon address (pokt1...).
        schema:
          type: string
      responses:
        '200':
          description: Balance set.
          content:
            application/json:
              schema:
                type: object
  /cosmos/bank/v1beta1/supply:
    get:
      summary: Get Shannon Total Supply
      description: Return the total Shannon supply for every denom (upokt and IBC).
      operationId: getShannonTotalSupply
      tags:
      - Bank
      responses:
        '200':
          description: Supply totals.
          content:
            application/json:
              schema:
                type: object
