openapi: 3.2.0
info:
  title: Pocket Network Shannon RPC Transactions API
  description: 'The Pocket Network Shannon chain is a Cosmos SDK + CometBFT chain (poktroll). Every full node exposes the standard Cosmos REST and CometBFT RPC surfaces. Public endpoints are operated by Grove and Pocket Network Foundation. This profile documents the read-only endpoints most often consumed by integrators — block, transaction, validator, supply, and on-chain module queries (application, supplier, gateway, service, session, proof, tokenomics). Write operations are signed transactions broadcast via the same REST surface or the poktrolld CLI; they share the `/cosmos/tx/v1beta1/txs` endpoint.

    '
  version: v1
  contact:
    name: Pocket Network Foundation
    url: https://pocket.network
  license:
    name: MIT
    url: https://github.com/pokt-network/poktroll/blob/main/LICENSE
servers:
- url: https://shannon-grove-api.mainnet.poktroll.com
  description: Grove-operated Shannon mainnet REST endpoint
- url: https://shannon-testnet-grove-api.beta.poktroll.com
  description: Grove-operated Shannon beta testnet REST endpoint
tags:
- name: Transactions
  description: Transaction lookup and broadcast
paths:
  /cosmos/tx/v1beta1/txs/{hash}:
    get:
      summary: Get Shannon Transaction By Hash
      description: Return a Shannon transaction by its hash.
      operationId: getShannonTransaction
      tags:
      - Transactions
      parameters:
      - name: hash
        in: path
        required: true
        description: Transaction hash (hex, 64 chars).
        schema:
          type: string
      responses:
        '200':
          description: Transaction envelope.
          content:
            application/json:
              schema:
                type: object
  /cosmos/tx/v1beta1/txs:
    post:
      summary: Broadcast Shannon Transaction
      description: 'Broadcast a signed Shannon transaction. The request body is a TxRaw-encoded transaction with broadcast mode (sync, async, block).

        '
      operationId: broadcastShannonTransaction
      tags:
      - Transactions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tx_bytes
              - mode
              properties:
                tx_bytes:
                  type: string
                  description: Base64-encoded TxRaw.
                mode:
                  type: string
                  enum:
                  - BROADCAST_MODE_SYNC
                  - BROADCAST_MODE_ASYNC
                  - BROADCAST_MODE_BLOCK
      responses:
        '200':
          description: Broadcast result with tx hash and code.
          content:
            application/json:
              schema:
                type: object
