---
title: "Your Identity Matters. Introducing Profile Verification."
url: "https://medium.com/decentralized-infrastructure/your-identity-matters-introducing-profile-verification-441b5935fc21?source=rss----cb7de0b79e5e---4"
date: "2026-07-14"
author: "Arthur Ariel Sabintsev"
feed_url: "https://medium.com/feed/decentralized-infrastructure"
---
When we first launched Grove, we supported one platform: X. The goal was simple: Let people tip creators anywhere on the internet. But creators don’t exist in just one place.
